<div class="container-fluid">
    <h4>Product Details</h4>

    <div class="header">

    </div>
    <div class="sidenav">
        <div class="form-control">
            <img [src]="src" class="img-circle">
        </div>

        <button href="" class="btn1" routerLink="product-menu">All Orders</button>
        <button href="" class="btn1" routerLink="order-product">Create product</button>
        <!-- <a href="#clients">Clients</a> -->

        <div class="box">
            <button class="already" href="">Create User</button>
            <button class="already" href="">Change Password</button>
        </div>
        <button (click)="logout() ">Logout</button>
    </div>



    <div class="main">
        <router-outlet></router-outlet>
    </div>

</div>
<!--<button class="btn btn-info " (click)="AllProducts() ">All Order</button>
<button (click)="logout() ">Logout</button>-->