<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header bg-primary text-info">
                <h3>Registration Form</h3>
            </div>
            <div class="card-body ">
                <form (ngSubmit)="submit()" [formGroup]="formdata">
                    <div class="form-group pt-2">
                        <label for="">First Name</label>
                        <input type="text" class="form-control" name="firstname" formControlName="firstname">
                        <div class="text-danger" *ngIf="formdata.controls.firstname.errors?.required && formdata.controls.firstname.touched">First Name Required</div>
                    </div>

                    <div class="form-group pt-2">
                        <label for="">Last Name</label>
                        <input type="text" class="form-control" name="lastname" formControlName="lastname">
                        <div class="text-danger" *ngIf="formdata.controls.lastname.errors?.required && formdata.controls.lastname.touched">Last Name Required</div>
                    </div>

                    <div class="form-group pt-2">
                        <label for="">Gender</label>
                        <input type="text" class="form-control" name="gender" formControlName="gender">
                        <div class="text-danger" *ngIf="formdata.controls.gender.errors?.required && formdata.controls.gender.touched">Gender Required</div>
                    </div>

                    <div class="form-group pt-2">
                        <label for="">D-O-B</label>
                        <input type="date" class="form-control" name="dob" formControlName="dob">
                        <div class="text-danger" *ngIf="formdata.controls.dob.errors?.required && formdata.controls.dob.touched">DOB Required</div>
                    </div>

                    <div class="form-group pt-2">
                        <label for="">Email</label>
                        <input type="email" class="form-control" name="email" formControlName="email">
                        <div class="text-danger" *ngIf="formdata.controls.email.errors?.required && formdata.controls.email.touched">Email Required</div>
                    </div>

                    <div class="form-group pt-2">
                        <label for="">Mobile No</label>
                        <input type="number" class="form-control" name="mobile" formControlName="mobile">
                        <div class="text-danger" *ngIf="formdata.controls.mobile.errors?.required && formdata.controls.mobile.touched">Mobile No. Required</div>

                    </div>

                    <div class="form-group pt-2">
                        <label for="">Password</label>
                        <input type="password" class="form-control" name="password" formControlName="password">
                        <div class="text-danger" *ngIf="formdata.controls.password.errors?.required && formdata.controls.password.touched">Password Required</div>

                    </div>

                    <div class="form-group pt-2">
                        <label for="">Confirm Password</label>
                        <input type="password" class="form-control" name="confirmpassword" formControlName="confirmpassword">
                        <div class="text-danger" *ngIf="formdata.controls.confirmpassword.errors?.required && formdata.controls.confirmpassword.touched">Confirm Password Required</div>

                    </div>

                    <div class="form-group pt-2">
                        <button type="submit" class="registerbtn btn btn-success form-control" name="btn" [disabled]="!formdata.valid">Register</button>
                    </div>
                    <div class="form-group pt-3">
                        <div class="text-danger">{{errormessage}}</div>
                    </div>
                    Already have an account? <a class="already" href="#" routerLink="/sign-up">Sign-up</a>
                </form>
            </div>
        </div>
    </div>
</div>