<!-- <p>order-menu works!</p>
<button class="btn btn-info" (click)="LoadOrder()">Get Order</button> -->

<div class="container">
    <ng-container *ngIf="!orders; else ordertemp">
        <div class="alert alert-danger">
            <h4>No any order yet !</h4>
        </div>
    </ng-container>
    <ng-template #ordertemp>
        <div class="row">
            <div class="col-4  pt-3" *ngFor="let ord of orders">
                <div class="card">
                    <div class="card-header">Order Details</div>
                    <div class="card-body">
                        <table>
                            <tr>
                                <td><label for="">Customer :</label></td>
                                <td>{{ord.customer}}</td>
                            </tr>
                            <tr>
                                <td><label for="">Product :</label></td>
                                <td>{{ord.product}}</td>
                            </tr>
                            <tr>
                                <td><label for="">Order time :</label></td>
                                <td>{{ord.time|date:'short'}}</td>
                            </tr>
                          <!--<tr>
                                <td><label for="">Customer id :</label></td>
                                <td>{{ord.id}}</td>
                            </tr>-->
                        </table>
                    </div>

                    <div class="card-footer">
                        <button class="btn btn-danger" (click)="RemoveProduct(ord.id)">Delete Detail</button>
                      <button class="btn btn-success" (click)="UpdateProduct(ord.id)">Update Detail</button>
                    </div>


                </div>
            </div>
        </div>

    </ng-template>
</div>
